<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ZkSessionTimeout" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="ZkConnectionString" connectionString="172.18.21.144:2182,172.18.21.144:2183,172.18.21.144:2184"/>
  </connectionStrings>
</configuration>